@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-llamada-mobile: #00161C;
  --bg-color-blanco: #FFFFFF;
  --bg-color-azul-claro: #DFE3F5;
  --bg-color-ceniza-claro: #F7F4F4;
  --bg-color-ceniza-medio: #D9D9D9;
  --border-cabecera-mobile: #103D4A;
  --boton-rojo: #B72E2E;
  --fuente-ceniza-claro: #666666;
  --fuente-ceniza-oscuro: #4F4C4C;
  --planes-card-start: #035A76;
  --planes-card-ultra: #690F8E;
  --planes-card-mega: #B00024;
  --fuente-enlace: #0006FF;
  --bg-color-footer: #333333;
  --fz-lg: 18px;
  --fz-md: 16px;
  --fz-sm: 14px;
  --fz-xs: 12px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin: auto;
  width: 100%;
  min-height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  transform: translateY(-5px);
}

.menu__list {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__link {
  margin-left: 20px;
  color: var(--bg-color-ceniza-medio);
}

.llamada {
  height: 400px;
  width: 100%;
  padding-top: 95px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/bg-intro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--bg-color-blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.llamada__titulo {
  text-align: center;
  margin-top: 40px;
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

.llamada__texto {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  width: 580px;
  text-align: center;
  color: var(--bg-color-ceniza-medio);
}

.llamada__boton {
  min-width: 350px;
  text-align: center;
  padding: 18px;
  font-size: 18px;
  border: 1px solid var(--boton-rojo);
  font-weight: 700;
  border-radius: 5px;
}