@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-llamada-mobile: #00161C;
  --bg-color-blanco: #FFFFFF;
  --bg-color-azul-claro: #DFE3F5;
  --bg-color-ceniza-claro: #F7F4F4;
  --bg-color-ceniza-medio: #D9D9D9;
  --border-cabecera-mobile: #103D4A;
  --boton-rojo: #B72E2E;
  --fuente-ceniza-claro: #666666;
  --fuente-ceniza-oscuro: #4F4C4C;
  --planes-card-start: #035A76;
  --planes-card-ultra: #690F8E;
  --planes-card-mega: #B00024;
  --fuente-enlace: #0006FF;
  --bg-color-footer: #333333;
  --fz-lg: 18px;
  --fz-md: 16px;
  --fz-sm: 14px;
  --fz-xs: 12px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: var(--fz-lg);
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin: auto;
  width: 100%;
  min-height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  padding: 1.125rem 2.5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  transform: translateY(-5px);
}

.menu__list {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__link {
  margin-left: 1.25rem;
  color: var(--bg-color-ceniza-medio);
}

.llamada {
  height: 400px;
  width: 100%;
  padding-top: 5.9375rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/bg-intro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--bg-color-blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.llamada__titulo {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 3.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.llamada__texto {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  width: 36.25rem;
  text-align: center;
  color: var(--bg-color-ceniza-medio);
}

.llamada__boton {
  min-width: 21.875rem;
  text-align: center;
  padding: 1.125rem;
  font-size: 1.125rem;
  border: 1px solid var(--boton-rojo);
  font-weight: 700;
  border-radius: 5px;
}

.destacados {
  margin: auto;
  padding: 3.125rem 0;
  background-color: var(--bg-color-azul-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.destacados__titulo {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2.25rem;
  color: var(--fuente-ceniza-oscuro);
}

.destacado {
  padding: 0 0 1.875rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destacado__descripcion {
  padding: .75rem 0;
  font-weight: 700;
}

.destacados__boton {
  padding: 1.125rem;
  min-width: 21.875rem;
  border: 1px solid var(--boton-rojo);
  border-radius: 5px;
  color: var(--boton-rojo);
  text-align: center;
}

.destacado__img {
  width: calc(100% - 80px);
}

.diferenciales {
  margin: auto;
  width: 100%;
  background: var(--bg-color-ceniza-claro);
}

.diferenciales__contenido {
  margin: auto;
  height: 32.5rem;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30%);
}

.diferencial {
  min-height: 100%;
  max-height: 8.125rem;
  display: flex;
  flex-direction: column;
}

.diferencial:nth-child(1) {
  justify-content: flex-start;
}

.diferencial:nth-child(2) {
  justify-content: flex-end;
}

.diferencial:nth-child(3) {
  justify-content: flex-start;
}

.diferencial__cabecera {
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.diferencial__titulo {
  margin-left: .5rem;
}

.diferencial__logo {
  width: 2rem;
}

.diferencial__descripcion {
  margin-left: 2rem;
}

.sobre {
  margin: auto;
  padding: 50px 45px;
  display: flex;
}

.nosotros {
  padding-right: 4.375rem;
  display: flex;
  flex-direction: column;
}

.nosotros__titulo {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: var(--fuente-ceniza-oscuro);
}

.nosotros__texto {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.nosotros__footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--bg-color-ceniza-medio);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nosotros__logos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.planes {
  margin: auto;
  width: 100%;
  padding: 3.125rem 2.8125rem 5rem 2.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-ceniza-claro);
}

.planes__titulo {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: var(--fuente-ceniza-oscuro);
}

.planes__contenido{
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 2.5rem;
}

.plan {
  margin-top: 1.5625rem;
  min-width: 300px;
  height: 100%;
  padding: 1.125rem 0;
  background-color: var(--bg-color-blanco);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.063);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan:nth-child(1) {
  color: var(--planes-card-start);
  min-height: 18.75rem;
}

.plan:nth-child(2) {
  color: var(--planes-card-ultra);
  margin: 0 1.25rem;
  margin-top: 1.5625rem;
  min-height: 21.875rem;
  justify-content: space-between;
}

.plan:nth-child(3) {
  color: var(--planes-card-mega);
  min-height: 18.75rem;
}

.plan__cabecera {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: .8125rem;
  font-weight: 700;
  border-bottom: 1px solid var(--bg-color-ceniza-medio);
}

.plan__precio {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 15px;
}

.plan__menu {
  padding: 1.875rem 0 1.125rem 0;
  color: var(--bg-color-footer);
}

.plan__atributo {
  font-size: 1rem;
  padding-bottom: .625rem;
}

.plan__boton {
  margin: auto;
  padding: .3125rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease;
}

.plan__boton--start {
  border: 2px solid var(--planes-card-start);
  border-radius: 8px;
}

.plan__boton--start:hover {
  color: var(--bg-color-blanco);
  background-color: var(--planes-card-start);
}

.plan__boton--ultra {
  border: 2px solid var(--planes-card-ultra);
  border-radius: 8px;
}

.plan__boton--ultra:hover {
  color: var(--bg-color-blanco);
  background-color: var(--planes-card-ultra);
}

.plan__boton--mega {
  border: 2px solid var(--planes-card-mega);
  border-radius: 8px;
}

.plan__boton--mega:hover {
  color: var(--bg-color-blanco);
  background-color: var(--planes-card-mega);
}

.contacto {
  width: 100%;
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto__titulo {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--fuente-ceniza-oscuro);
}

.contacto__texto {
  padding: 1.875rem 0;
}

.contacto__boton {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.125rem;
  min-width: 16.875rem;
  text-align: center;
  color: var(--boton-rojo);
  border: 1px solid #B72E2E;
  border-radius: 5px;
}

.institucional {
  width: 100%;
  padding: 3.125rem 2.8125rem;
  display: flex;
  flex-direction: column;
}

.institucional__titulo {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--fuente-ceniza-oscuro);
}

.institucional__contenido {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.institucional__datos {
  margin-right: 1.25rem;
  max-width: 17.5rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.institucional__direccion {
  font-size: 1.375rem;
  line-height: 2.0425rem;
  padding: 2.1875rem 0;
}

.institucional__telefono,
.institucional__correo {
  text-decoration: underline;
  font-size: 1.25rem;
  color: var(--fuente-enlace);
  margin-bottom: 1.125rem;
}

.footer {
  width: 100%;
  padding: 4.375rem 3.125rem 2.8125rem 3.125rem;
  background-color: var(--bg-color-footer);
}

.footer__cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 38px;
}

.footer__logo img {
  transform: translateY(5px);
}

.footer__icon {
  width: 2.625rem;
  margin-left: 20px;
}

@media screen and (max-width:1980px) {
  html {
    font-size: var(--fz-md);
  }  
}

@media screen and (max-width:769px) {
  html {
    font-size: var(--fz-sm);
  } 

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    margin-top: 1.25rem;
  }
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__link {
    margin-bottom: .625rem;
  }
  .llamada {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .llamada__titulo {
    font-size: 2rem;
    margin-top: 7.5rem;
  }
  .llamada__texto {
    font-size: 1.25rem;
  }

  .diferenciales__contenido {
    height: 100%;
    width: calc(100% - 55%);
    flex-direction: column;
  }
  .diferencial {
    margin-bottom: 3.125rem;
  }

  .sobre__img {
    display: none;
  }
  .nosotros {
    padding: 0;
  }
  .nosotros__logos img {
    width: 2.1875rem;
    height: auto;
  }
  
  .planes__contenido {
    flex-direction: column;
    padding: 0;
  }
  .plan:nth-child(2) {
    margin: 0;
    margin-top: 1.5625rem;
  }

  .institucional__contenido {
    flex-direction: column;
    width: 85%;
  }
  .institucional__video {
    max-width: 100%;
  }

  .footer__cabecera {
    flex-direction: column;
  }
  .footer__iconos {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width:350px) {
  html {
    font-size: var(--fz-sm);
  }  
}